body {font-family: 'Open Sans', sans-serif;}
.dark {font-family: 'Open Sans', sans-serif; color: darkgreen;}
.green {font-family: 'Open Sans', sans-serif; color:green;}
.red {font-family: 'Open Sans', sans-serif; color:darkred;}